.Main {
    font-family: 'Muli', sans-serif;
    margin-top: 10vh;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
}

.Main h1 {
    font-size: 3vw;
}

.Main p {
    font-size: 1.5vw;
}

.Main .Place {
    margin-top: 13vh;
}

.Main .Net i{
    margin-right: 2vw;
    color: #00D970;
    transition: transform 0.2s;
}
.Main .Net i:hover{
    transform: scale(1.4);
}

.Table {
    text-align: center;
}

.TableTopic {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    table-layout: fixed;
}

.TableTopicAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    opacity:0.3;
    table-layout: fixed;
}

.TableTopic .TableHead {
    color: #00D970;
}

.TableTopicAdd .TableHead {
    color: #00D970;
}

.TableTopic .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableTopicAdd .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableTopic .TableBody tr {
    height: 5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableTopicAdd .TableBody tr {
    height: 5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableTopic .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableTopicAdd .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableTopic .TableBody tr td {
    width: 13vw;
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableTopicAdd .TableBody tr td {
    width: 13vw;
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableTopic .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableTopicAdd .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableTopic .Read:hover {
    font-weight: bold;
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.TableTopicAdd .Read:hover {
    font-weight: bold;
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.TableTopic .ReadNone {
    display: none;
}

.TableTopicAdd .ReadNone {
    display: none;
}

.AddTopic .Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.AddTopic .Read2:hover {
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddTopic {
    width: 48vw;
    height: 24vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.AddTopic .Title {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.AddTopic .Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 1.5vw 1vw 1.5vw 4vw;
}

.AddTopic .Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Input textarea{
    font-size: 1vw;
    width: 16vw;
    height: 10vw;
}

.Valide {
    color: red;
}

.Textarea {
    width: 18vw;
    height: 18vh;
}

.Hide {
    width: 6.2vw;
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    background-color: #2f4f30;
    color: white;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-bottom: 1vh;
}

.Hide:hover {
    border:0.2vw solid #d3f1d4;
    cursor: pointer;
    transform: scale(1.03);
}

.ReadDiv {
    width: 27vw;
    height: 0vw;
    margin: auto;
    opacity: 0;
    display: none;
}

.ReadDivAnim1 {
    display: block;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    width: 27vw;
    height: 10vw; 
    opacity: 1;  
}

.ReadDivAnim2 {
    transition-duration: 0.7s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    width: 27vw;
    height: 0vw; 
    opacity: 0;  
}

.TableBody .LinkTd {
    font-weight: bold;
}

.TableTopic .col1 {
    width: 15vw;
}

.TableTopicAdd .col1 {
    width: 15vw;
}

.TableTopic .col2 {
    width: 10vw;
}

.TableTopicAdd .col2 {
    width: 10vw;
}

.TableTopic .col3 {
    width: 27vw;
}

.TableTopicAdd .col3 {
    width: 27vw;
}

.TableTopic .col4 {
    width: 6vw;
}

.TableTopicAdd .col4 {
    width: 6vw;
}

@media all and (max-width:1520px) {
.ReadDivAnim1 {height: 10.5vw;}
}

@media all and (max-width:1400px) {
.AddTopic {height: 25vw;}
}

@media all and (max-width:1060px) {
.AddTopic .Input {padding: 1vw 1vw 1vw 4vw;}
}

@media all and (max-width:850px) {
.TableTopic .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
.TableTopic .col4 {width: 8vw;}
.TableTopicAdd .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
.TableTopicAdd .col4 {width: 8vw;}
.ReadDivAnim1 {height: 11vw;}
.AddTopic .Input {padding: 1vw 1vw 0.5vw 4vw;}
.AddTopic {height: 26vw;}
}

@media all and (max-width:700px) {
.Input textarea {height: 8vw;}
.AddTopic .Input {padding: 1vw 1vw 0vw 4vw;}
.AddTopic {height: 28vw;}
.AddTopic .Title {font-size: 3vw;}
}

@media all and (max-width:500px) {
.AddTopic .Read2 {padding-top: 0vw;}
.AddTopic {height: 30vw;}
}.Table {
    text-align: center;
}

.TableSpeaker {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    table-layout: fixed;
}

.TableSpeakerAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    opacity:0.3;
    table-layout: fixed;
}

.TableSpeaker .TableHead {
    color: #00D970;
}

.TableSpeakerAdd .TableHead {
    color: #00D970;
}

.TableSpeaker .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableSpeakerAdd .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableSpeaker .TableBody tr {
    height: 3.5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableSpeakerAdd .TableBody tr {
    height: 3.5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableSpeaker .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableSpeakerAdd .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableSpeaker .TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableSpeakerAdd .TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableSpeaker .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableSpeakerAdd .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableSpeaker .Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.TableSpeakerAdd .Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.AddSpeaker .Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.AddSpeaker .Read2:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddSpeaker {
    width: 48vw;
    height: 14vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.AddSpeaker .Title {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.AddSpeaker .Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 1.5vw 1vw 1vw 4vw;
}

.AddSpeaker .Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Valide {
    color: red;
}

.TableSpeaker .cols1 {
    width: 13vw;
}

.TableSpeakerAdd .cols1 {
    width: 13vw;
}

.TableSpeaker .cols2 {
    width: 12vw;
}

.TableSpeakerAdd .cols2 {
    width: 12vw;
}

.TableSpeaker .cols3 {
    width: 22vw;
}

.TableSpeakerAdd .cols3 {
    width: 22vw;
}

.TableSpeaker .cols4 {
    width: 6vw;
}

.TableSpeakerAdd .cols4 {
    width: 6vw;
}

@media all and (max-width:1280px) {
.AddSpeaker {height: 15vw;}
}

@media all and (max-width:1000px) {
.TableSpeaker .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
.TableSpeakerAdd .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
}

@media all and (max-width:900px) {
.AddSpeaker .Input {padding: 1vw 1vw 0.2vw 4vw;}
}

@media all and (max-width:700px) {
.TableSpeaker .cols4 {width: 8vw;}
.TableSpeakerAdd .cols4 {width: 8vw;}
.AddSpeaker {height: 16vw;}
}

@media all and (max-width:600px) {
.AddSpeaker {height: 17.5vw;}
.AddSpeaker .Input {padding: 1vw 1vw 0vw 4vw;}
.AddSpeaker .Read2 {padding-top: 0vw;}
}

@media all and (max-width:500px) {
.AddSpeaker {height: 21vw;}
.AddSpeaker .Input {padding: 1vw 1vw 0vw 4vw;}
.AddSpeaker .Read2 {padding-top: 0vw;}
}
.Table {
    text-align: center;
}

.TableMember {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
}

.TableMemberAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    opacity:0.3;
}

.TableMember .TableHead {
    color: #00D970;
}

.TableMemberAdd .TableHead {
    color: #00D970;
}

.TableMember .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableMemberAdd .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableMember .TableBody tr {
    height: 3vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableMemberAdd .TableBody tr {
    height: 3vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableMember .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableMemberAdd .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableMember .TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableMemberAdd .TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableMember .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableMemberAdd .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableMember .Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.TableMemberAdd .Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.AddMember .Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.AddMember .Read2:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vwsolid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddMember {
    width: 48vw;
    height: 15vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.AddMember .Title {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.AddMember .Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 1.5vw 1vw 1vw 4vw;
}

.AddMember .Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Valide {
    color: red;
}

.SelectSpan {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    color: #a2eca3;
}

.Select {
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
}

@media all and (max-width:1400px) {
.Select{width: 2.5vw;}
}

@media all and (max-width:1100px) {
.Select{width: 3vw;}
}

@media all and (max-width:900px) {
.AddMember .Input {padding: 1.5vw 1vw 0vw 4vw;}
.Select{width: 4vw;}
}

@media all and (max-width:750px) {
.AddMember {height: 16vw;}
}

@media all and (max-width:600px) {
.AddMember {height: 17.5vw;}
.AddMember .Input {padding: 1vw 1vw 0vw 4vw;}
}

@media all and (max-width:500px) {
.AddMember {height: 19vw;}
}.Full {
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
}

.Partner {
    text-align: center;
    color: #00D970;
    margin: 2vw;
}

.Sort {
    font-size: 1.3vw;
    font-weight: bold;
    color: #a2eca3;
    letter-spacing: 0.1vw;
}

.Checkbox {
    width: 1.2vw;
    height: 1.2vw;
}

.NavLink {
    color: white;
}

.PartnerList {
    margin: 2vw;
}.Full {
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
}

.PartnerShow {
    color: #00D970;
    font-family: 'Muli', sans-serif;
    font-size: 2.3vw;
    margin: 5vw;
    text-align: center;
}

.Name {
    color: white;
    font-size: 2vw;
}.PageLink {
    color: white;
    margin-right: 4vw;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 2vw;
    text-decoration: none;
}

.ActivePageLink {
    color: #00D970;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
    text-decoration: none;
}

.Links {
    text-align: center;
}

/*# sourceMappingURL=bundle.css.map*/