.Main {
    font-family: 'Muli', sans-serif;
    margin-top: 10vh;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
}

.Main h1 {
    font-size: 3vw;
}

.Main p {
    font-size: 1.5vw;
}

.Main .Place {
    margin-top: 13vh;
}

.Main .Net i{
    margin-right: 2vw;
    color: #00D970;
    transition: transform 0.2s;
}
.Main .Net i:hover{
    transform: scale(1.4);
}

.Table {
    text-align: center;
}

.TableTopic {
    border-collapse: collapse;
    width: 70vw;
    height: 10vh;
    margin: 6vh auto 2vh auto;
    table-layout: fixed;
}

.TableTopicAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vh;
    margin: 6vh auto 2vh auto;
    opacity:0.3;
    table-layout: fixed;
}

.TableHead {
    color: #00D970;
}

.TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableBody tr {
    height: 5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableBody tr td {
    width: 13vw;
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Read:hover {
    font-weight: bold;
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.ReadNone {
    display: none;
}

.Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.Read2:hover {
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddTopic {
    width: 48vw;
    height: 24vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.Title {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 3.8vh 1vw 3vh 4vw;
}

.Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Input textarea{
    font-size: 1vw;
    width: 16vw;
    height: 10vw;
}

.Valide {
    color: red;
}

.Textarea {
    width: 18vw;
    height: 18vh;
}

.Hide {
    width: 6.2vw;
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    background-color: #2f4f30;
    color: white;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-bottom: 1vh;
}

.Hide:hover {
    border:0.2vw solid #d3f1d4;
    cursor: pointer;
    transform: scale(1.03);
}

.ReadDiv {
    width: 27vw;
    height: 0vw;
    margin: auto;
    opacity: 0;
    display: none;
}

.ReadDivAnim1 {
    display: block;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    width: 27vw;
    height: 10vw; 
    opacity: 1;  
}

.ReadDivAnim2 {
    transition-duration: 0.7s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    width: 27vw;
    height: 0vw; 
    opacity: 0;  
}

.TableBody .LinkTd {
    font-weight: bold;
}

.col1 {
    width: 15vw;
}

.col2 {
    width: 10vw;
}

.col3 {
    width: 27vw;
}

.col4 {
    width: 6vw;
}.Table {
    text-align: center;
}

.TableSpeaker {
    border-collapse: collapse;
    width: 70vw;
    height: 10vh;
    margin: 6vh auto 2vh auto;
    table-layout: fixed;
}

.TableSpeakerAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vh;
    margin: 6vh auto 2vh auto;
    opacity:0.3;
    table-layout: fixed;
}

.TableHead {
    color: #00D970;
}

.TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableBody tr {
    height: 6vh;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.Read2:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddSpeaker {
    width: 48vw;
    height: 14vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.Title {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 3.8vh 1vw 3vh 4vw;
}

.Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Valide {
    color: red;
}

.cols1 {
    width: 13vw;
}

.cols2 {
    width: 12vw;
}

.cols3 {
    width: 22vw;
}

.cols4 {
    width: 6vw;
}
.Table {
    text-align: center;
}

.TableMember {
    border-collapse: collapse;
    width: 70vw;
    height: 10vh;
    margin: 6vh auto 2vh auto;
}

.TableMemberAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vh;
    margin: 6vh auto 2vh auto;
    opacity:0.3;
}

.TableHead {
    color: #00D970;
}

.TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableBody tr {
    height: 6vh;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.Read2:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vwsolid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddMember {
    width: 48vw;
    height: 15vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.Title {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 3.8vh 1vw 3vh 4vw;
}

.Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Valide {
    color: red;
}

.SelectSpan {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    color: #a2eca3;
}

.Select {
    width: 2.2vw;
    height: 1.5vw;
}.Full {
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
}

.Partner {
    text-align: center;
    color: #00D970;
    margin: 2vw;
}

.Sort {
    font-size: 1.3vw;
    font-weight: bold;
    color: #a2eca3;
    letter-spacing: 0.1vw;
}

.Checkbox {
    width: 1.2vw;
    height: 1.2vw;
}

.NavLink {
    color: white;
}

.PartnerList {
    margin: 2vw;
}.Full {
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
}

.PartnerShow {
    color: #00D970;
    font-family: 'Muli', sans-serif;
    font-size: 2.3vw;
    margin: 5vw;
    text-align: center;
}

.Name {
    color: white;
    font-size: 2vw;
}.PageLink {
    color: white;
    margin-right: 4vw;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 2vw;
    text-decoration: none;
}

.ActivePageLink {
    color: #00D970;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
    text-decoration: none;
}

.Links {
    text-align: center;
}

/*# sourceMappingURL=bundle.css.map*/