.Full {
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
}

.Partner {
    text-align: center;
    color: #00D970;
    margin: 2vw;
}

.Sort {
    font-size: 1.3vw;
    font-weight: bold;
    color: #a2eca3;
    letter-spacing: 0.1vw;
}

.Checkbox {
    width: 1.2vw;
    height: 1.2vw;
}

.NavLink {
    color: white;
}

.PartnerList {
    margin: 2vw;
}