.Table {
    text-align: center;
}

.TableSpeaker {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    table-layout: fixed;
}

.TableSpeakerAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    opacity:0.3;
    table-layout: fixed;
}

.TableSpeaker .TableHead {
    color: #00D970;
}

.TableSpeakerAdd .TableHead {
    color: #00D970;
}

.TableSpeaker .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableSpeakerAdd .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableSpeaker .TableBody tr {
    height: 3.5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableSpeakerAdd .TableBody tr {
    height: 3.5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableSpeaker .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableSpeakerAdd .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableSpeaker .TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableSpeakerAdd .TableBody tr td {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableSpeaker .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableSpeakerAdd .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableSpeaker .Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.TableSpeakerAdd .Read:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.AddSpeaker .Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.AddSpeaker .Read2:hover {
    font-weight: bold;
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddSpeaker {
    width: 48vw;
    height: 14vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.AddSpeaker .Title {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.AddSpeaker .Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 1.5vw 1vw 1vw 4vw;
}

.AddSpeaker .Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Valide {
    color: red;
}

.TableSpeaker .cols1 {
    width: 13vw;
}

.TableSpeakerAdd .cols1 {
    width: 13vw;
}

.TableSpeaker .cols2 {
    width: 12vw;
}

.TableSpeakerAdd .cols2 {
    width: 12vw;
}

.TableSpeaker .cols3 {
    width: 22vw;
}

.TableSpeakerAdd .cols3 {
    width: 22vw;
}

.TableSpeaker .cols4 {
    width: 6vw;
}

.TableSpeakerAdd .cols4 {
    width: 6vw;
}

@media all and (max-width:1280px) {
.AddSpeaker {height: 15vw;}
}

@media all and (max-width:1000px) {
.TableSpeaker .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
.TableSpeakerAdd .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
}

@media all and (max-width:900px) {
.AddSpeaker .Input {padding: 1vw 1vw 0.2vw 4vw;}
}

@media all and (max-width:700px) {
.TableSpeaker .cols4 {width: 8vw;}
.TableSpeakerAdd .cols4 {width: 8vw;}
.AddSpeaker {height: 16vw;}
}

@media all and (max-width:600px) {
.AddSpeaker {height: 17.5vw;}
.AddSpeaker .Input {padding: 1vw 1vw 0vw 4vw;}
.AddSpeaker .Read2 {padding-top: 0vw;}
}

@media all and (max-width:500px) {
.AddSpeaker {height: 21vw;}
.AddSpeaker .Input {padding: 1vw 1vw 0vw 4vw;}
.AddSpeaker .Read2 {padding-top: 0vw;}
}
