.Table {
    text-align: center;
}

.TableTopic {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    table-layout: fixed;
}

.TableTopicAdd {
    border-collapse: collapse;
    width: 70vw;
    height: 10vw;
    margin: 3vw auto 1vw auto;
    opacity:0.3;
    table-layout: fixed;
}

.TableTopic .TableHead {
    color: #00D970;
}

.TableTopicAdd .TableHead {
    color: #00D970;
}

.TableTopic .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableTopicAdd .TableHead th {
    font-family: 'Muli', sans-serif;
    font-size: 1.2vw;
    background-color: #127a16;
    color: white;
    letter-spacing: 0.1vw;
    padding: 1vw;
    border: 0vw;
}

.TableTopic .TableBody tr {
    height: 5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableTopicAdd .TableBody tr {
    height: 5vw;
    background-color: #d3f1d4;
    border-bottom: 0.15vw solid #127a16;
}

.TableTopic .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableTopicAdd .TableBody tr:hover {
    background-color: #f5f5f5;
}

.TableTopic .TableBody tr td {
    width: 13vw;
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableTopicAdd .TableBody tr td {
    width: 13vw;
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    border: 0vw;
    padding: 0.5vw;
}

.TableTopic .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableTopicAdd .Read {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.TableTopic .Read:hover {
    font-weight: bold;
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.TableTopicAdd .Read:hover {
    font-weight: bold;
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.TableTopic .ReadNone {
    display: none;
}

.TableTopicAdd .ReadNone {
    display: none;
}

.AddTopic .Read2 {
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    height: 2vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-right: 1.2vw;
}

.AddTopic .Read2:hover {
    border:0.2vw solid #456835;
    cursor: pointer;
    transform: scale(1.03);
}

.Add {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    height: 3vw;
    background-color: #a2eca3;
    color: black;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
}

.Add:hover {
    transform: scale(1.03);
    border:0.2vw solid #456835;
    cursor: pointer;
}

.NavLink {
    color: #172c11;
    font-weight: bold;
}

.LoadData {
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

.AddTopic {
    width: 48vw;
    height: 24vw;
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: #d3f1d4;
    border: 0.2vw solid #77b45b;
    border-radius: 0.5vw;
}

.AddTopic .Title {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing:0.1vw;
    padding-top: 1vw;
}

.AddTopic .Input {
    font-family: 'Muli', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    padding: 1.5vw 1vw 1.5vw 4vw;
}

.AddTopic .Input input{
    font-size: 1vw;
    width: 9vw;
    height: 1.2vw;
}

.Input textarea{
    font-size: 1vw;
    width: 16vw;
    height: 10vw;
}

.Valide {
    color: red;
}

.Textarea {
    width: 18vw;
    height: 18vh;
}

.Hide {
    width: 6.2vw;
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    background-color: #2f4f30;
    color: white;
    border-radius: 0.5vw;
    border:0.2vw solid #77b45b;
    margin-bottom: 1vh;
}

.Hide:hover {
    border:0.2vw solid #d3f1d4;
    cursor: pointer;
    transform: scale(1.03);
}

.ReadDiv {
    width: 27vw;
    height: 0vw;
    margin: auto;
    opacity: 0;
    display: none;
}

.ReadDivAnim1 {
    display: block;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    width: 27vw;
    height: 10vw; 
    opacity: 1;  
}

.ReadDivAnim2 {
    transition-duration: 0.7s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    width: 27vw;
    height: 0vw; 
    opacity: 0;  
}

.TableBody .LinkTd {
    font-weight: bold;
}

.TableTopic .col1 {
    width: 15vw;
}

.TableTopicAdd .col1 {
    width: 15vw;
}

.TableTopic .col2 {
    width: 10vw;
}

.TableTopicAdd .col2 {
    width: 10vw;
}

.TableTopic .col3 {
    width: 27vw;
}

.TableTopicAdd .col3 {
    width: 27vw;
}

.TableTopic .col4 {
    width: 6vw;
}

.TableTopicAdd .col4 {
    width: 6vw;
}

@media all and (max-width:1520px) {
.ReadDivAnim1 {height: 10.5vw;}
}

@media all and (max-width:1400px) {
.AddTopic {height: 25vw;}
}

@media all and (max-width:1060px) {
.AddTopic .Input {padding: 1vw 1vw 1vw 4vw;}
}

@media all and (max-width:850px) {
.TableTopic .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
.TableTopic .col4 {width: 8vw;}
.TableTopicAdd .TableBody tr td {padding: 0vw 0.5vw 0vw 0.5vw;}
.TableTopicAdd .col4 {width: 8vw;}
.ReadDivAnim1 {height: 11vw;}
.AddTopic .Input {padding: 1vw 1vw 0.5vw 4vw;}
.AddTopic {height: 26vw;}
}

@media all and (max-width:700px) {
.Input textarea {height: 8vw;}
.AddTopic .Input {padding: 1vw 1vw 0vw 4vw;}
.AddTopic {height: 28vw;}
.AddTopic .Title {font-size: 3vw;}
}

@media all and (max-width:500px) {
.AddTopic .Read2 {padding-top: 0vw;}
.AddTopic {height: 30vw;}
}